@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: #22262a;
    --card: #ffffff;
    --card-foreground: #22262a;
    --popover: #ffffff;
    --popover-foreground: #22262a;
    --primary: #2680d9;
    --primary-foreground: #ffffff;
    --secondary: #e0e6eb;
    --secondary-foreground: #22262a;
    --muted: #f0f2f5;
    --muted-foreground: #67737e;
    --accent: #e7ebef;
    --accent-foreground: #22262a;
    --destructive: #d92626;
    --destructive-foreground: #ffffff;
    --border: #dae0e7;
    --input: #e7ebef;
    --ring: #2680d9;
    --chart-1: #2680d9;
    --chart-2: #7094db;
    --chart-3: #3ca7dd;
    --chart-4: #85d1e0;
    --chart-5: #6666cc;
    --sidebar: #f2f5f8;
    --sidebar-foreground: #2e3338;
    --sidebar-primary: #2e73b8;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #dfe6ec;
    --sidebar-accent-foreground: #2e3338;
    --sidebar-border: #d1d9e0;
    --sidebar-ring: #2e73b8;
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "Fira Code", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 0.125rem;
    --shadow-blur: 0.25rem;
    --shadow-spread: 0;
    --shadow-opacity: 0.05;
    --shadow-color: 0 0 0;
    --shadow-2xs: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.03);
    --shadow-xs: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.03);
    --shadow-sm: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05), 0 1px 2px -1px hsl(0 0 0 / 0.05);
    --shadow: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05), 0 1px 2px -1px hsl(0 0 0 / 0.05);
    --shadow-md: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05), 0 2px 4px -1px hsl(0 0 0 / 0.05);
    --shadow-lg: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05), 0 4px 6px -1px hsl(0 0 0 / 0.05);
    --shadow-xl: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.05), 0 8px 10px -1px hsl(0 0 0 / 0.05);
    --shadow-2xl: 0 0.125rem 0.25rem 0 hsl(0 0 0 / 0.13);
    --tracking-normal: normal;
    --spacing: 0.25rem;
  }

  .dark {
    --background: #0e141b;
    --foreground: #e0e6eb;
    --card: #131a20;
    --card-foreground: #e0e6eb;
    --popover: #131a20;
    --popover-foreground: #e0e6eb;
    --primary: #5299e0;
    --primary-foreground: #141a1f;
    --secondary: #29333d;
    --secondary-foreground: #e0e6eb;
    --muted: #1f262e;
    --muted-foreground: #8f99a3;
    --accent: #252e37;
    --accent-foreground: #e0e6eb;
    --destructive: #dd3c3c;
    --destructive-foreground: #ffffff;
    --border: #33404d;
    --input: #29333d;
    --ring: #5299e0;
    --chart-1: #5299e0;
    --chart-2: #99b3e6;
    --chart-3: #67bbe4;
    --chart-4: #ade0eb;
    --chart-5: #8c8cd9;
    --sidebar: #080d11;
    --sidebar-foreground: #d1d9e0;
    --sidebar-primary: #478cd1;
    --sidebar-primary-foreground: #141a1f;
    --sidebar-accent: #171f26;
    --sidebar-accent-foreground: #d1d9e0;
    --sidebar-border: #2d3843;
    --sidebar-ring: #478cd1;
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "Fira Code", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.5rem;
    --shadow-spread: 0;
    --shadow-opacity: 0.2;
    --shadow-color: 0 0 0;
    --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.10);
    --shadow-xs: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.10);
    --shadow-sm: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.20), 0 1px 2px -1px hsl(0 0 0 / 0.20);
    --shadow: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.20), 0 1px 2px -1px hsl(0 0 0 / 0.20);
    --shadow-md: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.20), 0 2px 4px -1px hsl(0 0 0 / 0.20);
    --shadow-lg: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.20), 0 4px 6px -1px hsl(0 0 0 / 0.20);
    --shadow-xl: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.20), 0 8px 10px -1px hsl(0 0 0 / 0.20);
    --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(0 0 0 / 0.50);
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}